 <header>
        </h2><a href="/">KZOLM</a></h2>
        <nav>
            <% if (user) { %>
                <a href="/logout">Log Out</a>
                <a href="/add-habit">Add Habit</a>

            <% } else{ %>
                <a href="/login">Log In</a>
           <% } %>
        </nav>
</header>